* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a !important;
  color: white;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
}